<%- include("partials/header.ejs")%>

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

<div class="page-wrapper">

    <!-- Quick Nav Tiles -->
    <h1 class="centerText" id="NSUT-HUB">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        NSUT HUB
    </h1>

    <h2 class="centerText" id="NSUT-GUIDE">A Guide Book To NSUT</h2>

    <div class="container tiles">
        <div class="row" style="height: 100%;">
            <div class="col-sm-3 goToTiles"><a href="#BookStore"><img src="/imgs/bookStore.png" class="goToTilesImg"></a></div>
            <div class="col-sm-3 goToTiles"><a href="/notes"><img src="/imgs/classNotes.png" class="goToTilesImg"></a></div>
            <div class="col-sm-3 goToTiles"><a href="/questionpaper"><img src="/imgs/questionPapers.png" class="goToTilesImg"></a></div>
        </div>
    </div>
    <!-- Quick Nav Tiles -->

</div>


<hr class="dashed">
<section id="AboutUs">
    <div>
        <h1 style="padding: 4px 2%;">About Us:</h1>
        <h3 style="padding: 20px 2%;">
            This website is updated with the help of the fellow students. If you want us to update our site regularly with free books, question papers and notes help us collecting it for the entire university. Join our whatsapp group and share files there.
            <br><br>
            <span>Created By: <span>Dev NSUT Team</span></span>
        </h3>
    </div>
</section>

<%- include("partials/footer.ejs")%>