<%- include("partials/header")%>

<div class="page-wrapper">

    <h1 class="centerText heading">Question Paper</h1>

    <div class="container">
        <!--        1st Year-->
        <div class="dropdown">
            <img class="dropButton" src="imgs/1%20year.png">
            <a class="dropMenu displayOff" href="https://drive.google.com/drive/folders/1EN6V8Q2Fpyfj-ym401_Q4gAkQrve-33k" target="_blank"><img src="imgs/1sem.png"></a>
            <a class="dropMenu displayOff" href="https://drive.google.com/drive/folders/12X6FADQRR8B5w3VEw6rePnLlAKs7yT2I" target="_blank"><img src="imgs/2sem.png"></a>
        </div>

        <!--        2nd Year-->
        <div class="dropdown">
            <img class="dropButton" src="imgs/2%20year.png">
            <img class="dropMenu displayOff" src="imgs/3sem.png">
            <img class="dropMenu displayOff" src="imgs/4sem.png">
        </div>

        <!--        3rd Year-->
        <div class="dropdown">
            <img class="dropButton" src="imgs/3%20year.png">
            <img class="dropMenu displayOff" src="imgs/5sem.png">
            <img class="dropMenu displayOff" src="imgs/6sem.png">
        </div>

        <!--        4th Year-->
        <div class="dropdown">
            <img class="dropButton" src="imgs/4%20year.png">
            <img class="dropMenu displayOff" src="imgs/7sem.png">
            <img class="dropMenu displayOff" src="imgs/8sem.png">
        </div>
    </div>
</div>

<script src="helperJS/notes.js"></script>

<%- include('partials/footer')%>

