


<hr class="dashed">

<div class="footer end">
    <div class="centerText">
        <h3 class="footerText">Follow Us:</h3>
        <a href="#" style="margin: 0px auto;"><i class="fab fa-facebook footerText" style="font-size: 2em;"></i></a>
        <a href="#" style="margin: 0px auto;"><i class="fab fa-instagram footerText" style="font-size: 2em;"></i></a>
    </div>
    <br>
    <div class="centerText">
        <p class="footerText">Designed and Developed by Web Team NSUT</p>
    </div>
</div>
   
<!-- Jquery CDN -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<!-- JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>